.profile-picture {
    border: 2px solid white;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.historia{
    
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}
h1{
    
    text-align: center;
    

}
.ulti{
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: gray;
 }
.ulti:hover{
  background-color: red;
  color: white;
    cursor: pointer;
}
.similares{

    margin: 10px;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    

}
.motivos{
    background-color: white;
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
}
