<header> 
  <img src="https://th.bing.com/th/id/R.cee0982a9e2604a51aa1f95a2438d4c1?rik=uq9YiSohSHhcDg&pid=ImgRaw&r=0" alt="" class="profile-picture">
  <h1>Game of Thrones</h1>
 </header> 

<body>
 
   <div class="historia">
    <h2>Historia</h2>

   </div>
   <div class="motivos">
    <h2>Motivos por los que gusta</h2>
    <li>Uno</li>
    <li>Dos</li>
    <li>Tres</li>
    <li>Cuatro</li>

    <h2>Personajes</h2>
    <li>Uno</li>
    <li>Dos</li>
    <li>Tres</li>
    <li>Cuatro</li>
   </div>
   <section class="similares"><div >
    <h2>Peliculas similares</h2>
    <h3>Vikings</h3>
    <h3>Lost Kingdom</h3>
   </div></section>
   
  
</body>