   <div class="titulo">
   
     <img src="https://cdn.culturagenial.com/es/imagenes/game-of-thrones-serie-og.jpg" alt="" class="profile-picture">
   <h1>Game of Thrones</h1>
   
   </div>
  
  <section id="content" >
   
      <div class="historia">
         <h2>Historia</h2>
            <p>
            La trama se sitúa en un mundo ficticio con elementos fantásticos, como dragones y poderes, pero también otros muy reales como son las luchas de poder, los enfrentamientos políticos, las traiciones y la continua guerra por el trono que gobierna los siete reinos de Poniente.
            </p>
         </div>
      <div class="motivos">
         <h2>Motivos por los que gusta</h2>
            <li>Tematica medieval</li>
            <li>Accion</li>
            <li>Historia envolvente</li>
         <h2>Personajes</h2>
            <li>Daenerys Targaryen.</li>
            <li>Cersei Lannister.</li>
            <li>Melisandre</li>
         <li>Robb Stark</li>
      </div>
   
    <div class="similares">
       <h2>Peliculas similares</h2>
          <div class="ulti">
         <h3>Vikings</h3>
          <h4>El programa retrata a Ragnar como un granjero que ha conseguido construir barcos revolucionarios con instrumentos de navegación también revolucionarios. Con ellas puede hacer exitosas incursiones en Inglaterra, alcanzar la fama y convertirse en un rey escandinavo, con la ayuda de su familia y sus guerreros.</h4>
         </div>
         <div class="ulti">
         <h3>Last Kingdom</h3>
         <h4>La serie está ambientada en el siglo IX donde lo que hoy se conoce como Inglaterra eran varios reinos independientes. Las tierras anglosajonas son atacadas y en muchos casos gobernadas por fuerzas vikingas. El reino de Wessex se ha dejado solo bajo el mando del Rey Alfred el Grande.</h4>
         </div>
      </div>
   </section>
  
